<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-78130">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-78130">
					</li>
					<li data-slide-to="1" data-target="#carousel-78130">
					</li>
					<li data-slide-to="2" data-target="#carousel-78130">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="https://41.media.tumblr.com/tumblr_m8tmjo8vst1rscfozo1_500.jpg" />
						<div class="carousel-caption">
							<h4>
								Awesome blue Evo!
							</h4>
							<p>
								Some text
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="https://40.media.tumblr.com/473cbfb43d0b048152579009a0262672/tumblr_n883sy3Xlp1riw8nao1_500.jpg" />
						<div class="carousel-caption">
							<h4>
								Foxbody Mustang
							</h4>
							<p>
								Cool
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="https://36.media.tumblr.com/042e8abab632e1d977afc69500237ed9/tumblr_mpknoh9iTD1ru8nnoo1_500.jpg" />
						<div class="carousel-caption">
							<h4>
								Airplane
							</h4>
							<p>
								Wow
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-78130" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-78130" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>